@import '@/mixins/typography.sass'
  
.home
  .headline
    @include typography('small')
    color: var(--level4)
    margin-bottom: 16px
    margin-top: 0
  .map
    width: 100vw
    height: 100vh
    z-index: 5
    position: fixed
  .data
    opacity: .95
    display: grid
    height: 100vh
    width: 100vw
    padding: 16px
    grid-template-rows: 1fr 1fr 1fr
    grid-template-columns: 1fr 1.5fr 1fr
    grid-column-gap: 16px
    grid-row-gap: 16px
    grid-template-areas: "topleft topmiddle topright" "middleleft middlemiddle middleright" "bottomleft bottommiddle bottomright"
    position: fixed
    z-index: 10
    box-sizing: border-box
    .jobs
      grid-area: topleft
      grid-row: span 3
      box-sizing: border-box
      overflow: scroll
      .job
        margin-bottom: 8px
    .controls
      grid-area: bottomright
    .log
      grid-area: topright
      grid-row: span 2
      .loglines
        .entry
          color: var(--foreground)
          display: flex
          justify-content: space-between
          .code
            @include typography('normal')
            max-width: 30%
            margin: 0
          .jobName
            @include typography('normal')
            max-width: 70%
            margin: 0
            overflow: hidden
            color: var(--level4)
            white-space: nowrap